body {
	background-color:$primary-color;
	color:$white;
	width: $w;
	min-height: $mh;
	font-family: $font-base;
}
.popup-open {
	overflow-y: hidden;
}
:focus {
	outline:0 !important;
	box-shadow:none !important;
}
a:hover {
	text-decoration: none;
}
.btn-link {
	&:focus {
		text-decoration: none;
	}
}
section {
	min-height: $mh;
}
footer {
	background-color: $secondary-color;
	padding:1rem;
	.main-footer {
		flex-direction: column;
		padding-inline-start: 0;
		margin:0;
		list-style-type: none;
		font-size: .9rem;
	}
}
