body {
	background-color:$primary-color;
	color:$white;
	width: $w100;
	min-height: $h100;
	font-family: $font-base;
}
:focus {
	outline:0;
}
a:hover {
	text-decoration: none;
}
.btn-link {
	&:focus {
		text-decoration: none;
	}
}
#header {
	position: relative;
	width: $w100;
	min-height: $h100;
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: $w100;
		height: $h100;
		background:$primary-color;
		opacity: .3;
	}
}
#employee-row {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	&:nth-child(odd) {
		background-color:$white;
		color:$black;
		.column-left {
			display: flex;
			flex-direction:column;
		}
		.column-right {
			display:flex;
			flex-direction:row;
			p {
				text-align:right;
				margin-right:10px
			}
		}
	}
	&:nth-child(even) {
		.column-left {
			order:2;
			flex-direction:column;
			text-align:right;
			margin-left:10px;
			h6 {
				width: 80%;
				margin-right: 0;
			}
		}
		.column-right {
			flex-direction: row;
			p {
				order:5;
				margin-left:10px;
			}
		}
	}
	.column-left {
		width: 40%;
	}
	.column-right {
		width: 60%;
		.img-fluid {
			max-width: 500px;
			object-fit: cover;
		}
	}
}