body {
	background-color:$primary-color;
	color:$white;
	width: $w;
	min-height: $mh;
	font-family: $font-base;
}
.popup-open {
	overflow-y: hidden;
}
:focus {
	outline:0 !important;
	box-shadow:none !important;
}
a:hover {
	text-decoration: none;
}
.btn-link {
	&:focus {
		text-decoration: none;
	}
}
