#video-home {
	height:$h100;
	background-image:url('../img/back1.jpg');
}
#promise {
	position: relative;
	padding:90px 0;
	background-color:$secondary-color;
	.video-about {
		position: absolute;
		top: -7px;
		left:0;
		max-width: 850px;
		height: 120%;
		width: 45%;
	}
	.text-about {
		h2 {
			font-size:54px;
		}
	}

}

.box-img {
	position: relative;
	overflow:hidden;
	height:calc( #{$h} * 6 );
	img {
		opacity: .8;
		transition:transform 5s ease-in-out;
		-webkit-transition:transform 5s ease-in-out;
	}
	&:hover {
		img {
			transform:scale(1.5);
			-webkit-transform:scale(1.5);
		}
	}
	h4 {
		position: absolute;
		font-weight: $fBlack;
		color:$white;
		text-shadow:0px 0px 0px rgba(0,0,0,.23);
		z-index: 10;
	}
}