#video-home {
	height:$mh;
	display: flex;
	align-items: center;
	justify-content: center;
	.btn-play {
		position: relative;
		width: calc( #{$finger} * 2 );
		height: calc( #{$finger} * 2 );
		display: flex;
		align-items: center;
		justify-content: center;
		border:2px solid $mate;
		border-radius: $radius;
		background:transparent;
		z-index: 12;
		transition: all .4s ease-in-out;
		-webkit-transition: all .4s ease-in-out;
		i {
			font-size: calc( #{$size-base} * 2);
			color:$mate;
			margin-left:5px;
			transition: all .4s ease-in-out;
			-webkit-transition: all .4s ease-in-out;
		}
		&:hover {
			background:rgba($white, .5);
			border:2px solid $white;
			i {
				color:$primary-color;
			}
		}
	}
}
#promise {
	position: relative;
	display: flex;
	flex-direction: column;
	.video-about {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.box-img {
	position: relative;
	overflow:hidden;
	height:calc( #{$u} * 6 );
	img {
		object-fit: cover;
		opacity: .8;
		transition:transform 5s ease-in-out;
		-webkit-transition:transform 5s ease-in-out;
	}
	&:hover {
		img {
			transform:scale(1.5);
			-webkit-transform:scale(1.5);
		}
	}
	h4 {
		position: absolute;
		font-weight: $black;
		color:$white;
		text-shadow:0px 0px 0px rgba(0,0,0,.23);
		z-index: 10;
	}
}

#who-home {
	position: relative;
	display: flex;
	flex-direction: column;
	.img-left, .container {
		position: relative;
		z-index: 1;
	}
	.heading {
		color:$third-color;
		letter-spacing: 5px;
	}
}
@media (max-width: 767.98px) {
	#who-home {
		.img-left {
			object-fit: cover;
			margin-bottom:1rem;
		}
	}
}
#slider-home {
	position: relative;
	min-height: $mh;
	&::before {
		content:'';
		display: block;
		width: $w;
		height:400px;
		background-color:$secondary-color;
		position: absolute;
		left:0;
		bottom:30px;
	}
	#sliderHome {
		height:500px;
		.swiper-button-next {
			&::after {
				color:$white;
			}
		}
	}
}
@media (max-width:767.98px) {
	#slider-home {
		margin-top:3rem;
		#sliderHome {
			height:$mh;
			.swiper-slide {
				height:$mh;
				.img-fluid {
					height:$mh;
					object-fit: cover;
				}
			}
		}
		.button-slider {
			display: none;
		}
	}
}