//home
@media (min-width:768px) {
	#slider-home {
		.swiper-button-next {
			right:-20px;
		}
		.swiper-button-prev {
			left:-20px;
		}
	}
	#employee-row {
		flex-direction: row;
		.column-left {
			width: calc( #{$w} - 15% );
			flex-direction: row;
			align-items: center;
			.short-content {
				margin-left: 3rem;
				max-width: calc( #{$w} / 2 );
			}
		}
		&:nth-child(even) {
			.column-left {
				order:2;
			}
		}
		.img-fluid {
			width: 550px;
			height: 450px;
			object-fit: cover;
		}
	}
	#carouselEmployee {
		padding-top:75px;
		.inner-row {
			padding:0 2rem;
		}
	}
	
	#promise {
		flex-direction: row;
		align-items: center;
		overflow: hidden;
		.video-about {
			width: 940px;
			height: 640px;
			background-color: $white;
		}
	}
	#who-home {
		flex-direction: row;
		align-items: center;
		overflow: hidden;
		.container {
			display: flex;
			align-items: center;
			.h2-title,
			.btn-custom {
				margin-left: 2.5rem;
			}
		}
		.img-left {
			width: 640px;
			height:640px;
			object-fit: cover;
		}
	}
	.shape {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		width: $w;
		height: calc( #{$mh} - 25vh );
		background-color: $secondary-color;
		z-index: 0;
	}
	.box {
		padding: 4rem;
	}
	#sliderHome {
		.swiper-slide {
			.img-fluid {
				width: $w;
				height:calc( #{$u} * 5);
				object-fit: cover;
			}
		}
	}
// Servicios
	#about-intro {
		padding-top:100px;
	}
	#about-story {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		#about-photos {
			position: relative;
			width: 40%;
			.shape-2 {
				position: absolute;
				bottom:0;
				left:0;
				width: $w;
				height:calc( #{$u} * 2 + 50px );
				background-color: $secondary-color;
			}
			#sliderAbout {
				margin-left: 2rem;
				margin-bottom:2rem;
				.swiper-slide {
					.img-fluid {
						width: 400px;
						object-fit: cover;
					}
				}
				.swiper-pagination {
					left:auto;
					right:5%;
					bottom:0;
					top:50%;
					margin: auto;
					width: calc( #{$u} - 40px );
					height: $finger;
					color:$third-color;
					font-size: 0.9375rem;
					.swiper-pagination-current {
						font-size: 1.75rem;
						font-weight: $bold;
						color:$white !important;
					}
					.swiper-pagination-total {
						font-size:0.9375rem;
						font-weight: $light;
						color:$third-color;
					}
				}
				.swiper-button-next {
					right:8%;
					top:65%;
					transform:rotate(-90deg);
					-webkit-transform:rotate(-90deg);
					&::after {
						font-size: 12px;
						font-weight: $bold;
						color:$white;
					}
				}
				.swiper-button-prev {
					left:auto;
					right:8%;
					top:auto;
					bottom:10%;
					transform:rotate(-90deg);
					-webkit-transform:rotate(-90deg);
					&::after {
						font-size: 12px;
						font-weight: $bold;
						color:$white;
					}
				}
			}
		}
		#about-content {
			width: 50%;
		}
		.about-photos {
			position: relative;
		}
	}
	#bigSlider {
		#sliderAbout2 {
			max-height: 600px;
		}
	}

// footer
	footer {
		.main-footer {
			width: $w;
			flex-direction: row;
			justify-content: space-between;
			li:nth-child(2) {
				a {
					pointer-events: none;
				}
			}
		}
	}
}

@media (min-width:1440px) {
	.shape {
		height: calc( #{$mh} - 45vh );
	}
	#promise {
		.video-about {
			height: 940px;
		}
	}
	#who-home {
		.img-left {
			width: 940px;
			height: 940px;
		}
	}
	.box-img {
		height:calc( #{$u} * 9 );
	}
	#slider-home {
		#sliderHome {
			height: 800px;
			.swiper-slide {
				.img-fluid {
					height: 800px;
				}
			}
		}
	}
	// nosotros
	#header {
		height: 80vh;
	}
	#employee-row {
		.img-fluid {
			width: 650px;
			height: 650px;
		}
	}
	#carouselEmployee {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		#empleados {
			.img-fluid {
				height: calc( #{$u} * 4.5 );
				margin-bottom: 1rem;
			}
		}
	}
}