.navbar {
	background:transparent;
	.contact-online {
		position: absolute;
		font-size: 1rem;
		right:7%;
		text-transform: uppercase;
		font-weight: $bold;
		letter-spacing: 3px;
		color:$white;
		text-shadow: $tShadow;
		-webkit-text-shadow: $tShadow;
		transition: font-size .4s ease-in-out;
		-webkit-transition: font-size .4s ease-in-out;
		&:hover {
			text-decoration: none !important;
		}
		&::after {
			content: '';
			position: absolute;
			left:20px;
			bottom:0;
			width: 50px;
			height:2px;
			background:$feature-color;
			transition: $transition-primary;
			-webkit-transition: $transition-primary
		}
		&:hover::after {
			left:0;
		}
	}
	.navbar-brand {
		.img-fluid {
			width: 130px;
			transition: width .4s ease-in-out;
			-webkit-transition: width .4s ease-in-out;
		}
	}
	#menuToggler {
		position:relative;
		width: $finger;
		height:$finger;
		background:transparent;
		border:none;
		transition: $transition-primary;
		z-index: 2000;
		&:focus {
			outline: 0;
			box-shadow: none;
		}
		.icon-menu {
			position:absolute;
			width: 34px;
			height:1px;
			background:$white;
			display: block;
			transition: $transition-primary;
			-webkit-transition: $transition-primary;
			z-index: 2000;
		}
		.icon-menu:nth-child(1) {
			top:22%;
			transform-origin:0% 0%;
		}
		.icon-menu:nth-child(3) {
			bottom:22%;
			transform-origin:0% 0%;
		}
	}
	.nav-menu {
		display: flex;
		justify-content: space-around;
		margin-bottom:0;
		.menu-item {
			list-style-type: none;
			.nav-link {
				text-decoration:none;
				text-transform: uppercase;
				font-weight: $medium;
				font-size: 16px;
				letter-spacing: 3px;
				color:$white;
				padding:.3rem 1rem;
				position: relative;
				text-shadow: $tShadow;
				-webkit-text-shadow: $tShadow;
				transition: all .4s ease-in-out;
				-webkit-transition: all .4s ease-in-out;
				&::after {
					content: '';
					position: absolute;
					opacity: 0;
					width: 50px;
					height: 2px;
					left: 20px;
					bottom: 0;
					background:$feature-color;
					transition:$transition-primary;
					-webkit-transition:$transition-primary;
				}
				&:hover::after {
					left:0;
					opacity: 1;
				}
			}
		}
	}
}

.open {
	.icon-menu:nth-child(1) {
		transform:rotate(45deg);
		transform-origin:0% 50%;
	}
	.icon-menu:nth-child(2) {
  		opacity:0;
	}
	.icon-menu:nth-child(3) {
		transform:rotate(-45deg);
		transform-origin:0% 100%;
	}
}
@media (min-width:768px) {
	#sidebar-menu {
		display: none;
	}
}
@media (max-width:767.98px) {
	.navbar {
		#navbarDesk, .contact-online {
			display: none;
		}
		#menuToggler {
			position: fixed;
			right: 10px;
			z-index: 2000;
		}
	}
}

#sidebar-menu {
	position: fixed;
	top:0;
	right:0;
	width: $w;
	height:$mh;
	background-color:$primary-color;
	z-index: 1000;
	.col-12 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: $mh;
	}
	.nav-menu {
		margin:0;
		margin-block-start: 0;
		margin-block-end:0;
		padding-inline-start:0;
		.menu-item {
			list-style: none;
			position: relative;
			.nav-link {
				text-transform: uppercase;
				font-weight: $bold;
				color:$white;
				letter-spacing: 3px;
				margin-bottom:1rem;
				padding-left:0;
			}
		}
		.active {
			.nav-link::after {
				content:'';
				display: block;
				position: absolute;
				left:0;
				bottom:0;
				width: 50px;
				height:2px;
				background:$feature-color;
			}
		}
	}
	.contact-online {
		text-transform: uppercase;
		font-weight: $bold;
		color:$white;
		letter-spacing: 3px;
		margin-bottom:1rem;
		padding-left:0;
		&:hover {
			text-decoration: none;
		}
		&:focus::after {
			content:'';
			display: block;
			position: absolute;
			left:0;
			bottom:0;
			width: 50px;
			height:2px;
			background:$feature-color;
		}
	}
}

.bg-color {
	background-color:$primary-color;
}
@media(min-width:768px) {
	.bg-color {
		.navbar-brand {
			.img-fluid {
				width: 90px;
			}
		}
	}
}
.sticky {
	.navbar {
		.navbar-brand {
			.img-fluid {
				width: 75px;
			}
		}
		.contact-online {
			font-size: .8rem;
		}
		.nav-menu {
			.menu-item {
				.nav-link {
					font-size: .8rem;
				}
			}
		}
	}
}