// colors
$primary-color:#246674;
$secondary-color:#205261;
$third-color:#36A4AE;
$feature-color:#F87A3E;
$white:#ffffff;
$mate:#252525;
$shadow:0px 10px 20px 5px rgba(0,0,0,.55);
$elevation: 0px 0px 10px 5px rgba(0,0,0,.57);

// fonts
$font-base:'Montserrat', sans-serif;
$size-base:17px;
$size-nav:16px;
$light:300;
$regular:400;
$medium:500;
$semibold:600;
$bold:700;
$extrabold:800;
$black:900;

// sizes
$w:100%;
$mh:100vh;
$finger:50px;
$u:100px;

// mini transition
$transition-primary: .4s ease-in-out;
$transition-secondary: .3s ease-out;

