// colors
$primary-color:#246674;
$secondary-color:#205261;
$third-color:#3396A2;
$feature-color:#F87A3E;
$white:#ffffff;
$black:#252525;

// fonts
$font-base:'Montserrat', sans-serif;
$size-base:17px;
$size-nav:16px;
$fLight:300;
$fRegular:400;
$fMedium:500;
$fSemiBold:600;
$fBold:700;
$fExtraBold:800;
$fBlack:900;

// sizes
$w100:100%;
$h100:100vh;
$finger:48px;
$h:100px;

// mini transition
$shortMove: .4s ease-in-out;
